  <%= form_for @order do |f| %>
    <% if order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
            <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_field :customer_first_name, :placeholder => 'First Name', class:'form-control' %>
    </div>
    <br>

    <div class="field">
      <%= f.text_field :customer_last_name, :placeholder => 'Last Name', class:'form-control' %>
    </div>
    <br>

    <div class="field">
      <%= f.text_field :customer_phone_number, :placeholder => 'Phone Number', class:'form-control' %>
    </div>
    <br>

    <div class="field">
      <%= f.email_field :customer_email, :placeholder => 'Email', class:'form-control' %>
    </div>
    <br>

    <div class="field">
      <%= f.text_field :customer_house, :placeholder => 'House Number and Street', class:'form-control' %>
    </div>
    <br>

    <div class="field">
      <%= f.text_field :customer_city, :placeholder => 'City', class:'form-control' %>
    </div>
    <br>

    <div class="field">
      <%= f.text_field :customer_postal_code, :placeholder => 'Postal Code', class:'form-control' %>
    </div>
    <br>

    <div class="actions">
      <%= link_to 'Back', :back , class:'btn btn-success'  %>
      <%= f.submit 'Send oder', type: 'submit', class:'btn btn-warning' %>
    </div>
<% end %>