<div class="col-md-3 col-sm-6">
  <span class="thumbnail">
            <% if book.image? %>
                <%= link_to book do %>
                    <%= image_tag book.image.url(:index) if book.image? %>
                <% end%>
            <% else %>

                <img src="http://placehold.it/180x270" alt="...">
            <% end %>
              <br>

              <div class="price">
                <%= number_to_currency(book.price, unit: 'грн.', format: '%n %u', precision: 0) %>
              </div>

              <div class="star-rating" data-score= <%= book.avg_review %> ></div>

            <% book.authors.each do |author| %>
              <em><%= author.first_name %>
                  <%= author.last_name %></em>
            <% end %>
      			<% book.categories.each do |category| %>
                <div> <%= link_to category.name, category_path(category) %></div>
               <% end %>


              <div class="row">
                <div class="col-md-5 col-sm-5 text-left">
                  <p><%= link_to 'see more', book_path(book), class: 'btn btn-success' %></p>
                </div>
                <div class="col-md-6 col-sm-6 text-right">
                  <% if book.in_stock? %>
                      <div><%= button_to 'Add to cart', add_to_cart_book_path(book), class:'btn btn-warning right' %></div>
                  <% else %>
                      <h6 class="text-center">SOLD OUT</h6>
                  <%	end %>
                </div>
              </div>

  </span>
</div>

