<div class="col-md-3 col-sm-6">
  <span class="thumbnail">
      <% if book.image? %>
          <%= link_to book do %>
              <%= image_tag book.image.url(:medium) if book.image? %>
          <% end%>
      <% else %>
          <img src="http://placehold.it/180x270" alt="...">
      <% end %>
        <br>
        <div class="price">
          <strong><%= number_to_currency(book.price, unit: '₴', format: '%n %u', precision: 0) %></strong>
        </div>

        <div class="star-rating" data-score= <%= book.avg_review %> ></div>

      <% book.authors.each do |author| %>
        <em><%= author.first_name %>
            <%= author.last_name %></em>
      <% end %>
      <% book.categories.each do |category| %>
          <div> <%= link_to category.name, category_path(category) %></div>
      <% end %>
          <div>
            <% if book.in_stock? %>
                    <div class="input-group">
                      <span class="input-group-btn">
                          <%= link_to 'More', book_path(book), class: 'btn btn-success' %>
                      </span>
                          <%= form_for order_book, remote: true do |f| %>
                      <span class="input-group-btn quantity" >
                          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
                      </span>
                      <span class="input-group-btn">
                        <%= f.hidden_field :book_id, value: book.id %>
                        <%= f.submit 'BUY IT', class:'btn btn-warning' %>
                      </span>
                    </div>
                   <%	end %>
            <% else %>
                <div class="sold-out">
                <div class="btn-group" role="group">
                  <%= link_to 'More', book_path(book), class: 'btn btn-success'  %>
                  <button class="btn btn-default disabled">SOLD OUT</button>
                </div>
                </div>
            <%	end %>
          </div>

  </span>
</div>

<script>
    $('.star-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>
