<div class="col-md-12 col-sm-12">
    <div class="row">
      <div class="col-md-12">
        <div id="Carousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item active">
              <% @carousel_first_slide.each do |book| %>
                <div class="col-md-3">
                  <% if book.image? %>
                    <%= link_to book do %>
                      <%= image_tag book.image.url(:small) %>
                    <% end %>
                  <% else %>
                     <%= link_to book do %>
                       <img src="http://placehold.it/150x225" alt="...">
                     <% end %>
                  <% end %>
                </div>
              <% end %>
            </div><!--.item-->

            <div class="item">
              <% @carousel_second_slide.each do |book| %>
                  <div class="col-md-3">
                    <% if book.image? %>
                        <%= link_to book do %>
                          <%= image_tag book.image.url(:small) %>
                        <% end %>
                    <% else %>
                        <%= link_to book do %>
                          <img src="http://placehold.it/150x225" alt="...">
                        <% end %>
                    <% end %>
                  </div>
              <% end %>
            </div><!--.item-->
          </div><!--.carousel-inner-->

          <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
          <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
        </div><!--.Carousel-->
      </div>
    </div>
</div>