<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="text-center"><h2><%= @book.title %></h2></div>
      <br>
         <div class="row">
           <div class="col-md-7 col-sm-7 col-xs-7">
                  <ul>
                    <li><strong>Author: </strong>
                    <% @book.authors.each do |author| %>
                        <span><%= author.first_name %> <%= author.last_name %></span>
                    <% end %></li>
                    <li><strong>Year: </strong><%= @book.year %></li>
                    <li><strong>Pages: </strong></li>
                    <li><strong>Language: </strong></li>
                    <li><strong>Category: </strong>
                      <% @book.categories.each do |category| %>
                          <%= category.name %>
                      <% end %></li>
                    <li><strong>Publisher: </strong>
                      <% @book.publishers.each do |publisher| %>
                          <%= publisher.publisher_name %>
                      <% end %></li>
                  </ul>
            </div>

            <div class="col-md-5 col-sm-5 col-xs-5">
              <strong>In stock</strong>
                <p class="ratings">
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                </p>
               <h2><%= number_to_currency(@book.price, unit: 'грн.', format: '%n %u') %></h2>
            <div><%= button_to 'Add to cart', add_to_cart_book_path(@book), class:'btn btn-success right' %></div>

            </div>
      </div>
    </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <img src="http://placehold.it/150x250" alt="...">
        </div>
  </div>
  <br>
    <div class="row">
          <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="well">
                <h4>Description</h4>
                <p>Human beings have always been mythmakers.” So begins best-selling writer Karen Armstrong’s concise yet compelling investigation into myth: what it is, how it has evolved, and why we still so desperately need it. She takes us from the Paleolithic period and the myths of the hunters right up to the Great Western Transformation” of the last five hundred years and the discrediting of myth by science. The history of myth is the history of humanity, our stories and beliefs, our curiosity and attempts to understand the world, which link us to our ancestors and each other. Heralding a major series of retellings of international myths by authors from around the world, Armstrong’s characteristically insightful and eloquent book serves as a brilliant and thought-provoking introduction to myth in the broadest senseand explains why if we dismiss it, we do so at our peril.</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="well">
              <% if @reviews.blank? %>
                  <h4 class="text-center">No reviews just yet <%= link_to 'Leave Review', new_book_review_path(@book),
                                                      class: 'btn btn-success' %></h4>
                  <% else %>
                  <div class="text-center">
                    <%= link_to 'leave your review', new_book_review_path(@book), class: 'btn btn-success'  %>
                  </div>
                    <% @reviews.each do |review| %>
                      <hr>
                      <%= review.rating %>
                      <em><%= review.comment %></em>
                    <%	end %>
                  <%	end %>
            </div>
          </div>
    </div>
</div>