<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="text-center"><h1><%= @book.title %></h1></div>
      <br>
         <div class="row">
           <div class="col-md-7 col-sm-7 col-xs-7">
                  <ul>
                    <li><strong>Category: </strong>
                      <% @book.categories.each do |category| %>
                          <%= category.name %>
                      <% end %></li>
                    <li><strong>Author: </strong>
                    <% @book.authors.each do |author| %>
                        <span><%= author.first_name %> <%= author.last_name %></span>
                    <% end %></li>
                    <li><strong>Year: </strong><%= @book.year %></li>
                    <li><strong>Pages: </strong><%= @book.pages %></li>
                    <li><strong>ISBN: </strong><%= @book.isbn %></li>
                    <li><strong>Language: </strong><%= @book.language %></li>
                    <li><strong>Publisher: </strong>
                      <% @book.publishers.each do |publisher| %>
                          <%= publisher.publisher_name %>
                      <% end %></li>
                  </ul>
            </div>

            <div class="col-md-5 col-sm-5 col-xs-5">

              <%= render 'books/review_count' %>
              <% if @book.in_stock? %>
               <h2><%= number_to_currency(@book.price, unit: '₴', format: '%n %u', precision: 0) %></h2>

                  <%= form_for @order_book, remote: true do |f| %>
                        <%= f.hidden_field :quantity, value: 1 %>
                        <%= f.hidden_field :book_id, value: @book.id %>
                        <span class="add-to-cart-button"><%= f.submit 'Add to cart', class:'btn btn-warning' %></span>
                  <% end %>
              <% else %>
                <h2>Sold out</h2>
                  <%= link_to 'Home', :root, class: 'btn btn-success' %>
                  <%= link_to 'Back', :back, class: 'btn btn-success' %>
              <%	end %>
            </div>
      </div>
    </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <% if @book.image? %>
              <%= image_tag @book.image.url(:small) %>
          <% else %>
              <img src="http://placehold.it/150x250" alt="...">
          <% end %>

        </div>
  </div>
  <br>
    <div class="row">
          <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="well">
                <h4>Description</h4>
                <p>Human beings have always been mythmakers.” So begins best-selling writer Karen Armstrong’s concise yet compelling investigation into myth: what it is, how it has evolved, and why we still so desperately need it. She takes us from the Paleolithic period and the myths of the hunters right up to the Great Western Transformation” of the last five hundred years and the discrediting of myth by science. The history of myth is the history of humanity, our stories and beliefs, our curiosity and attempts to understand the world, which link us to our ancestors and each other. Heralding a major series of retellings of international myths by authors from around the world, Armstrong’s characteristically insightful and eloquent book serves as a brilliant and thought-provoking introduction to myth in the broadest senseand explains why if we dismiss it, we do so at our peril.</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="well">
                  <div class="text-center">
                    <%= link_to 'Leave your review here...', new_book_review_path(@book), class: 'btn btn-success'  %>
                  </div>
                    <% @reviews.each do |review| %>
                     <hr>
                        <div class="star-rating" class="pull-left" data-score= <%= review.rating %> ></div>
                      <% if review.review_status_id == 2 %>
                            <div>
                              <strong><em><%= review.comment %></em></strong>
                            </div>
                      <% else %>
                            <div>
                              <em>This comment's passing moderation</em>
                            </div>
                      <% end %>
                         <div class="pull-left user-contacts"><%= review.created_at.strftime("%d.%m.%Y")%></div>
                         <div class="pull-right user-contacts"><%= review.user.first_name %> <%= review.user.last_name %></div>
            <% end %>
            </div>
            <div class="row text-center">
              <%= will_paginate @reviews %>
            </div>
          </div>
    </div>
</div>

<script>
  $('.star-rating').raty({
      readOnly: true,
      score: function() {
          return $(this).attr('data-score');
      },
      path: '/assets/'
  });
</script>