<div class="row">
  <div class="col-xs-1">
    <%= link_to book do %>
        <% if book.image? %>
            <img src="http://placehold.it/180x270" alt="...">
            <%#= image_tag book.image.url, class:'style_image' if book.image? %>
        <% else %>
            <img src="http://placehold.it/180x270" alt="...">
        <% end %>
    <% end%>
  </div>
  <div class="col-xs-6 text-left">
    <div class="cart-book-title">
      <%= link_to book do %>
        <%= book.title %>
      <% end%>
    </div>

      <% book.categories.each do |category| %>
          <div> <%= category.name %></div>
      <% end %>
      <% book.authors.each do |author| %>
          <em><%= author.first_name %>
            <%= author.last_name %></em>
      <% end %>
    <br>
  </div>
  <div class="col-xs-5">
    <%= form_for order_book, remote: true do |f| %>
        <div class="row">
          <div class="col-xs-4 text-center" >
            <span><%= number_to_currency order_book.unit_price, unit: '₴', format: '%n %u', precision: 0 %></span>
          </div>
          <div class="col-xs-3 text-center" >
            <%= f.hidden_field :book_id, value: book.id %>
            <%= button_tag(type: 'submit', class: 'btn btn-primary', class: 'hide-button') do %>
                <%= f.number_field :quantity, value: order_book.quantity, class: 'form-control',
                                   id: 'amount', min: 1, remote: true %>
            <% end %>
          </div>
          <div class="col-xs-5 text-center">
            <span><%= number_to_currency order_book.total_price, unit: '₴',
                                                      format: '%n %u', precision: 0 %></span>
            <div>
              <%= link_to '', order_book, { data: { confirm: "Are you sure you wish to delete the book '#{order_book.book.title}' from your cart?" },
                                            method: :delete, remote: true, class: 'glyphicon glyphicon-trash' } %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<hr>
<!--TODO-->

