<% if !@order_book.nil? && @order_book.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @order_book.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<% if @order_books.size == 0 %>
    <p class="text-center"> There are no books in your shopping cart.</p>
    <div class="btn-group" role="group">
      <%= link_to 'Home', :root, class: 'btn btn-success' %>
      <%= link_to 'Back', :back, class: 'btn btn-success' %>
    </div>
<% else %>

    <div class="well">
      <% @order_books.each do |order_book| %>
          <%= render 'carts/cart_row', book: order_book.book, order_book: order_book, show_total: true %>
      <% end %>
      <div class="row">
        <div class="col-xs-6">
            <div class="btn-group" role="group">
              <%= link_to 'Home', :root, class: 'btn btn-success' %>
              <%= link_to 'Back', :back, class: 'btn btn-success' %>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
              <span><%= link_to 'Checkout', new_orders_path(@order), class: 'btn btn-warning checkout' %></span>
            <span class="cart-total-price">Total <%= number_to_currency current_order.order_total, unit: '₴',
                                                                        format: '%n %u', precision: 0 %></span>
            </div>
        </div>
      </div>
    </div>
<% end %>
