<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My first store">
    <meta name="author" content="Ihor Trypolskyi">
    <title>Store</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'shared/navbar' %>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-9 col-xs-9">
            <% if flash[:notice] %>
              <div class="alert alert-success"><%= flash[:notice] %></div>
            <% end %>
            <% if flash[:alert] %>
                <div class="alert alert-danger"><%= flash[:alert] %></div>
            <% end %>
            <%= yield %>

            <div class="row">
              <h4 class="text-center">NEWCOMERS:</h4>
              <p><%= render 'books/carousel' %></p>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <%= render 'shared/sidebar' %>
          </div>
        </div>
      </div>
      <%= render 'shared/login_modal' %>
      <%= render 'shared/signup_modal' %>
    </section>
    <footer>
      <%= render partial: 'shared/footer' %>
    </footer>
  </body>
</html>
