<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My first store">
    <meta name="author" content="Ihor Trypolskyi">
    <title>Store</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-12 col-xs-12">
            <% if flash[:notice] %>
              <div class="alert alert-success"><%= flash[:notice] %></div>
            <% end %>
            <% if flash[:alert] %>
                <div class="alert alert-danger"><%= flash[:alert] %></div>
            <% end %>
            <%= yield %>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
           <%= render 'shared/sidebar' %>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <h4 class="text-center">NEWCOMERS:</h4>
                <p><%= render 'books/carousel' %></p>
            </div>
          <div>
        </div>
      </div>
      <%= render 'shared/login_modal' %>
      <%= render 'shared/signup_modal' %>
      <%= render 'shared/footer' %>
  </body>
</html>
